/** CSS RESET */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    padding: 100px 0 100px 100px;
    background-color: var(--blue)
}

/** Custom Properties */

:root {
    --grey: #282828;
    --blue: #141922;
    --green: #ADFF30;
}


/** UTILS */

a {
    text-decoration: none;
}
.flex {
    display: flex;
}

/* Images Heights */
.img-h-50 {
    height: 50px;
}
.img-h-40 {
    height: 40px;
}
.img-h-30 {
    height: 30px;
}
.img-h-20 {
    height: 20px;
}

/* Padding */
.p-10 {
    padding: 10px 0;
}

/* Margin */
.m-20-b {
    margin-bottom: 20px;
}


/* Buttons */
.white-btn {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;

}

/* colors */
.grey {
    color: gray;

}
/** XS Layout */

@media screen and (min-width:576px) {
    .container {
        width: 540px;
    }
    #sidebar {
        width: 60px;
    }
    .s, .mg, .lg {
        display: none;
    }
    .sidebar-container {
        align-items: center;
    }
    .upper-sidebar, .lower-sidebar {
        align-items: center;
    }
    .install, .divider, .name {
        display: none;
    }

}


/** S Layout  */

@media screen and (min-width:768px) {
    .container {
        width: 720px;
    }
    #sidebar {
        width: 250px;
    }
    .xs {
        display: none;
    }
    .s, .mg, .lg {
        display: block;
    }
    .sidebar-container {
        align-items: flex-start;
    }
    .upper-sidebar, .lower-sidebar {
        align-items: flex-start;
    }
    .lower-sidebar {
        display: flex;
    }
    .install, .divider, .name {
        display: inline-block;
    }
    .menu {
        display: flex;
        align-self: center;
    }
    .playlist {
        padding-top: 20px;
    }
    .add-playlist {
        gap: 10px;
        display: flex;
        align-items: center;
    }
    .playlist-name {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        gap: 20px;
    }
}

/** MD Layout */

@media screen and (min-width:992px) {
    .container {
        width: 960px;
    }
    .track-info-container > .liked {
        flex-direction: row;
        gap: 10px;
    }
}


/** LG Layout */

@media screen and (min-width:1200px) {
    .container {
        width: 1140px;
    }
}


/** Main CSS */

/** Header Section */

header {
    position: fixed;
    top: 0;
    left: 60px;
    right: 0;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 10px;

}


/** Sidebar Section */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100px;
    background-color: black;
    color: white;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.sidebar-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.upper-sidebar, .lower-sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.divider {
    border-top: 1px solid grey;
    width: 160%;
}
.download, .profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile {
    background-color: gray;
    border-radius: 50%;
}
.name {
    font-weight: bold;
}



/** Footer Section */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--grey);
    color: white;
    height: 100px;
    padding: 20px 10px;
}
.footer-container {

    justify-content: space-between;
}
.track-info-container {
    gap: 15px;
    align-items: center;
}
.track-info-container, .player-container, .volume-settings {
    width: calc(100% / 3);
}
.liked {
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    padding: 0 5px;
}
.track {
    font-weight: bold;
}
.player-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.player-container i{
    font-size: 20px;
    padding: 0 10px;
}
.player-buttons {
    align-items: center;
}
.player-container .fa-circle-play{
    font-size: 30px;
    padding: 0 20px;
}
.player-container .player-timeline {
    font-size: 10px;
    gap: 10px;
    align-items: center;
}
.player-timeline {
    width: 100%;
}
.timeline {
    border-top: 5px solid #ccc;
    border-radius: 5px;
    height: 1px;
    width: 90%;
}
.volume-settings {
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.volume {
    border-top: 5px solid #ccc;
    border-radius: 5px;
    width: 40%;
}