/** CSS RESET */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    padding: 100px 0 100px 100px;
    background-color: var(--blue)
}

/** Custom Properties */

:root {
    --grey: #282828;
    --blue: #141922;
    --green: #ADFF30;
}


/** UTILS */

a {
    text-decoration: none;
}
.white-btn {
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 30px;

}
/** XS Layout */

@media screen and (min-width:576px) {
    .container {
        width: 540px;
    }
    #sidebar {
        width: 60px;
    }
}


/** S Layout  */

@media screen and (min-width:768px) {
    .container {
        width: 720px;
    }
    #sidebar {
        width: 100px;
    }
}


/** MD Layout */

@media screen and (min-width:992px) {
    .container {
        width: 960px;
    }
}


/** LG Layout */

@media screen and (min-width:1200px) {
    .container {
        width: 1140px;
    }
}


/** Main CSS */

/** Header Section */

header {
    position: fixed;
    top: 0;
    left: 60px;
    right: 0;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 40px 10px;

}


/** Sidebar Section */

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 40px;
   
    background-color: black;
    color: white;
    overflow-y: auto;
}




/** Footer Section */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--grey);
    color: white;
    height: 40px;
    padding: 20px 0;
}